Repository prettier/eslint-plugin-prettier: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

Update worker.mjs
  worker.mjs
Due: eslint --cache --fix

refactor: migrate `worker.js` to `worker.mjs` (#736)
  .changeset/eight-hornets-approve.md
  eslint-plugin-prettier.js
  package.json
  worker.mjs
Due: eslint --cache --fix, prettier --write

Update CHANGELOG.md
  CHANGELOG.md
Due: eslint --cache --fix

fix(deps): bump `synckit` to v0.11.7
  package.json
  pnpm-lock.yaml
Due: prettier --write

Create new-crabs-glow.md
  .changeset/new-crabs-glow.md
Due: eslint --cache --fix

fix(deps): bump `synckit` to v0.11.7 (#740)
  .changeset/new-crabs-glow.md
  package.json
  pnpm-lock.yaml
Due: eslint --cache --fix, prettier --write

feat: support non-js languages
  eslint-plugin-prettier.js
Due: eslint --cache --fix

address review comments
  eslint-plugin-prettier.js
Due: eslint --cache --fix

tests
  package.json
  pnpm-lock.yaml
  test/invalid/json.txt
  test/prettier.mjs
Due: eslint --cache --fix, prettier --write

refactor: cleanup
  .changeset/weak-lamps-refuse.md
  eslint-plugin-prettier.js
  test/fixtures/empty.json
  test/prettier.mjs
Due: eslint --cache --fix, prettier --write

feat: support non-js languages (#743)
  .changeset/weak-lamps-refuse.md
  eslint-plugin-prettier.js
  package.json
  pnpm-lock.yaml
  test/fixtures/empty.json
  test/invalid/json.txt
  test/prettier.mjs
Due: eslint --cache --fix, prettier --write

fix: use `prettierRcOptions` directly for prettier 3.6+
  .prettierrc
  package.json
  pnpm-lock.yaml
  worker.mjs
Due: eslint --cache --fix, prettier --write

Create shiny-bears-turn.md
  .changeset/shiny-bears-turn.md
Due: eslint --cache --fix

fix: use `prettierRcOptions` directly for prettier 3.6+ (#748)
  .changeset/shiny-bears-turn.md
  .prettierrc
  README.md
  package.json
  pnpm-lock.yaml
  worker.mjs
Due: eslint --cache --fix, prettier --write

fix: disallow extra properties in rule options
  eslint-plugin-prettier.js
Due: eslint --cache --fix

fix: release a new latest version
  package.json
Due: prettier --write

fix: release a new v4 version
  .changeset/config.json
  .github/workflows/release.yml
  package.json
Due: prettier --write

fix: release a new v4 version
  package.json
Due: prettier --write

fix: add 'oxc', 'oxc-ts' and 'hermes' parsers to parserBlocklist
  worker.mjs
Due: eslint --cache --fix

Create five-boats-decide.md
  .changeset/five-boats-decide.md
Due: eslint --cache --fix

fix: add 'oxc', 'oxc-ts' and 'hermes' parsers to `parserBlocklist` (#755)
  .changeset/five-boats-decide.md
  worker.mjs
Due: eslint --cache --fix

Create twelve-jokes-act.md
  .changeset/twelve-jokes-act.md
Due: eslint --cache --fix

fix: disallow extra properties in rule options (#751)
  .changeset/twelve-jokes-act.md
  eslint-plugin-prettier.js
Due: eslint --cache --fix

chore: `eslint-plugin-eslint-plugin` is now ESM only
  eslint.config.mjs
  pnpm-lock.yaml
Due: eslint --cache --fix

ci: enable trusted publishing
  .github/workflows/release.yml
Due: prettier --write

ci: enable trusted publishing (#757)
  .github/workflows/release.yml
Due: prettier --write

chore: add config flat
  eslint-plugin-prettier.js
Due: eslint --cache --fix

chore: add config label "prettier/recommended"
  eslint-plugin-prettier.js
Due: eslint --cache --fix

ci!: drop Node 14/16 support
  .github/workflows/ci.yml
  package.json
Due: prettier --write

fix: update engines to >=18.18.0 and CI
  .github/workflows/ci.yml
  package.json
Due: prettier --write

fix: update pnpm to 8.15.6 for CI compatibility
  package.json
Due: prettier --write

chore: trigger bot re-review
  README.md
Due: eslint --cache --fix

fix: remove types/eslint peer dependency; fixes #762
  package.json
Due: prettier --write

chore: add changeset
  .changeset/cyan-towns-type.md
Due: eslint --cache --fix

test: fix to namespaced import to cause tests to pass
  test/prettier.mjs
Due: eslint --cache --fix

docs: improve per coderabbit nit
  .changeset/cyan-towns-type.md
Due: eslint --cache --fix

chore: remove Node 14 and 16 support
  .changeset/cyan-towns-type.md
  .github/workflows/ci.yml
  package.json
Due: eslint --cache --fix, prettier --write

Path conditions:
  eslint --cache --fix: any of: *.{js,md,mjs,ts}
  prettier --write: (any of: *.{json,yml}) or (any of: .*rc)
