Repository prettier/eslint-plugin-prettier: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache -f friendly --fix, prettier --write

chore: exit pre mode
  .changeset/pre.json
Due: prettier --write

ci: use pnpm@7 because we are still targeting node 14
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: use node:assert instead of strict
  test/prettier.js
Due: eslint --cache -f friendly --fix

chore: patch graphql-eslint for now
  .nvmrc
  package.json
  patches/@graphql-eslint__eslint-plugin@3.20.0.patch
  pnpm-lock.yaml
Due: prettier --write

chore: bump deps, use pnpm instead (#568)
  .changeset/pre.json
  .commitlintrc
  .eslintrc
  .eslintrc.json
  .github/workflows/ci.yml
  .github/workflows/pkg-size.yml
  .github/workflows/release.yml
  .gitignore
  .lintstagedrc
  .lintstagedrc.js
  .nvmrc
  .prettierrc
  .simple-git-hooks.js
  .simple-git-hooks.json
  CONTRIBUTING.md
  package.json
  patches/@graphql-eslint__eslint-plugin@3.20.0.patch
  pnpm-lock.yaml
  test/prettier.js
  worker.js
  yarn.lock
Due: eslint --cache -f friendly --fix, prettier --write

fix: parserPath type
  worker.js
Due: eslint --cache -f friendly --fix

Create thick-birds-share.md
  .changeset/thick-birds-share.md
Due: eslint --cache -f friendly --fix

chore: format
  worker.js
Due: eslint --cache -f friendly --fix

fix: `parserPath` type might be `undefined` on Eslint Flat Config (#588)
  .changeset/thick-birds-share.md
  worker.js
Due: eslint --cache -f friendly --fix

Delete .github/workflows/pkg-size.yml
  .github/workflows/pkg-size.yml
Due: prettier --write

chore: use context properties where context methods are deprecated
  eslint-plugin-prettier.js
Due: eslint --cache -f friendly --fix

chore: try to fix pnpm CI issue
  .github/workflows/ci.yml
  package.json
Due: prettier --write

chore: adjust comments
  eslint-plugin-prettier.js
Due: eslint --cache -f friendly --fix

chore: use context properties where context methods are deprecated (#594)
  eslint-plugin-prettier.js
Due: eslint --cache -f friendly --fix

chore: bump @types/eslint
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: bump @types/eslint (#602)
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: specify eslint-config-prettier as peer dependency
  .changeset/mean-trees-judge.md
  package.json
Due: eslint --cache -f friendly --fix, prettier --write

fix: specify eslint-config-prettier as peer dependency (#603)
  .changeset/mean-trees-judge.md
  package.json
Due: eslint --cache -f friendly --fix, prettier --write

feat: support flat config system
  package.json
  recommended.js
Due: eslint --cache -f friendly --fix, prettier --write

Create kind-apples-itch.md
  .changeset/kind-apples-itch.md
Due: eslint --cache -f friendly --fix

fix: add eslint-config-prettier as peer dependency
  package.json
  recommended.js
Due: eslint --cache -f friendly --fix, prettier --write

chore: read name and version from package.json
  eslint-plugin-prettier.js
  flat.js
Due: eslint --cache -f friendly --fix

chore: move flat config to the same config file as the eslintrc one
  eslint-plugin-prettier.js
  flat.js
  package.json
Due: eslint --cache -f friendly --fix, prettier --write

chore: rename from recommended to flat
  flat.js
  package.json
Due: eslint --cache -f friendly --fix, prettier --write

chore: update changeset
  .changeset/kind-apples-itch.md
Due: eslint --cache -f friendly --fix

chore: append changelog
  .changeset/kind-apples-itch.md
Due: eslint --cache -f friendly --fix

fix: remove eslint-config-prettier as peer dependency
  package.json
  recommended.js
Due: eslint --cache -f friendly --fix, prettier --write

fix: align recommended config with docs
  recommended.js
Due: eslint --cache -f friendly --fix

Update eslint-plugin-prettier.js
  eslint-plugin-prettier.js
Due: eslint --cache -f friendly --fix

chore: add eslint-config-prettier as peer dependency
  package.json
Due: prettier --write

fix: avoid Object.assign
  eslint-plugin-prettier.js
Due: eslint --cache -f friendly --fix

fix: fix changeset
  .changeset/kind-apples-itch.md
Due: eslint --cache -f friendly --fix

chore: type check with @ts-check
  recommended.js
Due: eslint --cache -f friendly --fix

chore: add meta information
  recommended.js
Due: eslint --cache -f friendly --fix

chore: group dependabot updates
  .github/dependabot.yml
Due: prettier --write

feat: introduce `fullControl` option
  eslint-plugin-prettier.js
  worker.js
Due: eslint --cache -f friendly --fix

feat: add meta block to config
  .changeset/five-tools-matter.md
  eslint-plugin-prettier.js
Due: eslint --cache -f friendly --fix

feat: add meta block to config (#614)
  .changeset/five-tools-matter.md
  eslint-plugin-prettier.js
Due: eslint --cache -f friendly --fix

chore: use flat config for the project's eslint configuration
  .eslintignore
  .eslintrc
  eslint.config.js
  package.json
  pnpm-lock.yaml
Due: eslint --cache -f friendly --fix, prettier --write

chore: skip perf step in node 14 as eslint plugin isn't compatible with v14
  .github/workflows/ci.yml
Due: prettier --write

Path conditions:
  eslint --cache -f friendly --fix: any of: *.{js,md,ts}
  prettier --write: any of: *.{json,yml}
