Repository prettier/eslint-plugin-prettier: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache -f friendly --fix, prettier --write

build(deps): update lock file
  pnpm-lock.yaml
Due: none

Create sweet-scissors-occur.md
  .changeset/sweet-scissors-occur.md
Due: eslint --cache -f friendly --fix

build(deps): Bump synckit from 0.8.6 to 0.9.1 (#668)
  .changeset/sweet-scissors-occur.md
  package.json
  pnpm-lock.yaml
Due: eslint --cache -f friendly --fix, prettier --write

chore: fix CHANGELOG.md formatting issue
  CHANGELOG.md
Due: eslint --cache -f friendly --fix

docs: fix legacy configs link
  README.md
Due: eslint --cache -f friendly --fix

docs(README): fixes legacy ESlint configs link (#686)
  README.md
Due: eslint --cache -f friendly --fix

fix: support 'config' Option
  CHANGELOG.md
  eslint-plugin-prettier.js
  worker.js
Due: eslint --cache -f friendly --fix

Update LICENSE.md, fix license year
  LICENSE.md
Due: eslint --cache -f friendly --fix

chore: update FUNDING.yml
  .github/FUNDING.yml
Due: prettier --write

chore: add changeset release
  .changeset/giant-bottles-sin.md
Due: eslint --cache -f friendly --fix

chore: add failing test case
  eslint-plugin-prettier.js
  test/fixtures/invalid-prettierrc/.prettierrc.cjs
  test/fixtures/invalid-prettierrc/test.js
  test/prettier.js
Due: eslint --cache -f friendly --fix

fix: report node when loc not found
  eslint-plugin-prettier.js
Due: eslint --cache -f friendly --fix

fix: report on program node if loc unavailable
  eslint-plugin-prettier.js
  test/prettier.js
Due: eslint --cache -f friendly --fix

fix: report node when loc not found (#700)
  .changeset/giant-bottles-sin.md
  eslint-plugin-prettier.js
  test/fixtures/invalid-prettierrc/.prettierrc.cjs
  test/fixtures/invalid-prettierrc/test.js
  test/prettier.js
Due: eslint --cache -f friendly --fix

chore: use double quote for changesets/changelog files
  .prettierrc
  CHANGELOG.md
Due: eslint --cache -f friendly --fix

chore: add name to recommended config preset
  recommended.js
Due: eslint --cache -f friendly --fix

chore: add names to eslint config sections
  eslint.config.js
Due: eslint --cache -f friendly --fix

chore: bupm eslint-plugin-comments
  eslint.config.js
  package.json
  pnpm-lock.yaml
Due: eslint --cache -f friendly --fix, prettier --write

chore: bupm eslint-plugin-comments (#702)
  eslint.config.js
  package.json
  pnpm-lock.yaml
Due: eslint --cache -f friendly --fix, prettier --write

chore: add plugin name to flat recommended config
  .changeset/healthy-seas-add.md
  recommended.js
Due: eslint --cache -f friendly --fix

chore: add plugin name to flat recommended config (#703)
  .changeset/healthy-seas-add.md
  recommended.js
Due: eslint --cache -f friendly --fix

chore: pnpm dedupe
  pnpm-lock.yaml
Due: none

chore: fix badge
  README.md
Due: eslint --cache -f friendly --fix

chore: rename to `main`
  .changeset/config.json
  .github/workflows/ci.yml
  .github/workflows/release.yml
  README.md
  worker.js
Due: eslint --cache -f friendly --fix, prettier --write

chore: typo
  README.md
Due: eslint --cache -f friendly --fix

chore: rename default branch to `main` (#710)
  .changeset/config.json
  .github/workflows/ci.yml
  .github/workflows/release.yml
  README.md
  worker.js
Due: eslint --cache -f friendly --fix, prettier --write

ci: remove Node.js v14
  .github/workflows/ci.yml
Due: prettier --write

fix: remove 16 from ci
  .github/workflows/ci.yml
Due: prettier --write

fix: remove @1stg/remark-preset
  .remarkrc
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update ESLint to v9
  package.json
  pnpm-lock.yaml
  test/prettier.js
Due: eslint --cache -f friendly --fix, prettier --write

test: fix
  test/prettier.js
Due: eslint --cache -f friendly --fix

fix: fix tests
  package.json
  pnpm-lock.yaml
  test/fixtures/eslint-plugin-svelte3/App.named-blocks.svelte
  test/fixtures/eslint-plugin-svelte3/App.svelte
  test/prettier.mjs
Due: prettier --write

ci: tweak
  .github/workflows/ci.yml
Due: prettier --write

refactor: switch to module
  eslint.config.js
  test/prettier.mjs
Due: eslint --cache -f friendly --fix

ci: fix
  .github/workflows/ci.yml
Due: prettier --write

ci: fix install command
  .github/workflows/ci.yml
Due: prettier --write

ci: fix matrix
  .github/workflows/ci.yml
Due: prettier --write

ci: fix dependencies
  .github/workflows/ci.yml
Due: prettier --write

ci: add Node.js 14 16 back
  .github/workflows/ci.yml
Due: prettier --write

Path conditions:
  eslint --cache -f friendly --fix: any of: *.{js,md,ts}
  prettier --write: any of: *.{json,yml}
