Repository prettier/eslint-plugin-prettier: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

.lintstagedrc:

{
  "*.{js,md,mjs,ts}": ["eslint --cache --fix"],
  "*.{json,yml}": ["prettier --write"],
  ".*rc": ["prettier --write"]
}

test: coderabbit suggestion to utilize `default` if present
  test/prettier.mjs
Due: eslint --cache --fix

feat: support standard flat file format
  eslint-plugin-prettier.d.ts
  eslint-plugin-prettier.js
Due: eslint --cache --fix

docs: update docs to match standard flat format
  README.md
Due: eslint --cache --fix

feat: create changeset
  .changeset/eleven-foxes-bet.md
Due: eslint --cache --fix

fix: add range offset for insertion suggestion
  eslint-plugin-prettier.js
Due: eslint --cache --fix

fix: refactor diff function
  eslint-plugin-prettier.js
Due: eslint --cache --fix

chore: bump prettier-linter-helpers to v1.0.1
  .changeset/breezy-steaks-rule.md
  eslint-plugin-prettier.js
  package.json
  pnpm-lock.yaml
Due: eslint --cache --fix, prettier --write

chore: bump prettier-linter-helpers to v1.0.1 (#772)
  .changeset/breezy-steaks-rule.md
  eslint-plugin-prettier.js
  package.json
  pnpm-lock.yaml
Due: eslint --cache --fix, prettier --write

fix: restore diagnostics with yarn pnp
  .changeset/cool-taxes-grin.md
  package.json
  pnpm-lock.yaml
Due: eslint --cache --fix, prettier --write

Apply suggestion from @JounQin
  .changeset/cool-taxes-grin.md
Due: eslint --cache --fix

fix: bump synckit for yarn PnP ESM issue (#776)
  .changeset/cool-taxes-grin.md
  package.json
  pnpm-lock.yaml
Due: eslint --cache --fix, prettier --write

Refactor highlight range calculation in ESLint plugin
  eslint-plugin-prettier.js
Due: eslint --cache --fix

Create smart-terms-sneeze.md
  .changeset/smart-terms-sneeze.md
Due: eslint --cache --fix

Remove empty NPM_TOKEN from release.yml
  .github/workflows/release.yml
Due: prettier --write

chore: update dev dependencies
  package.json
  pnpm-lock.yaml
  test/prettier.mjs
Due: eslint --cache --fix, prettier --write

chore: update dev dependencies (#780)
  package.json
  pnpm-lock.yaml
  test/prettier.mjs
Due: eslint --cache --fix, prettier --write

chore: testing eslint v10
  .github/workflows/ci.yml
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  test/prettier.mjs
Due: eslint --cache --fix, prettier --write

fix: throw clear error when prettier is not installed instead of hanging
  eslint-plugin-prettier.js
Due: eslint --cache --fix

fix: address review comments - check error code and add changeset
  .changeset/fix-prettier-not-installed-hang.md
  eslint-plugin-prettier.js
Due: eslint --cache --fix

chore: testing eslint v10
  .github/workflows/ci.yml
  package.json
  pnpm-lock.yaml
  test/prettier.mjs
Due: eslint --cache --fix, prettier --write

fix: fix eslint-plugin-astro <script> parsing errors
  .changeset/clever-heads-march.md
  .prettierrc
  package.json
  pnpm-lock.yaml
  test/fixtures/eslint-plugin-astro/Component.astro
  test/fixtures/eslint-plugin-astro/DefineVars.astro
  test/fixtures/eslint-plugin-astro/Inline.astro
  test/fixtures/eslint-plugin-astro/Raw.astro
  test/prettier.mjs
  worker.mjs
Due: eslint --cache --fix, prettier --write

chore: bump all (dev)Dependencies
  .changeset/bright-sloths-cheer.md
  .github/workflows/ci.yml
  package.json
  pnpm-lock.yaml
Due: eslint --cache --fix, prettier --write

ci: declare workflow-level contents: read on 2 workflows
  .github/workflows/ci.yml
  .github/workflows/pkg-pr-new.yml
Due: prettier --write

fix: map fallback source locations to actual line starts
  eslint-plugin-prettier.js
Due: eslint --cache --fix

Document fallback location indexing
  eslint-plugin-prettier.js
Due: eslint --cache --fix

Test fallback source locations
  test/prettier.mjs
Due: eslint --cache --fix

Assert fallback JSON locations
  test/invalid/json.txt
Due: none

Add fallback location changeset
  .changeset/fix-fallback-source-locations.md
Due: eslint --cache --fix

docs: identify Unicode line terminators
  eslint-plugin-prettier.js
Due: eslint --cache --fix

test: match minimal CRLF replacement
  test/prettier.mjs
Due: eslint --cache --fix

test: cover all fallback line terminators
  test/prettier.mjs
Due: eslint --cache --fix

fix: preserve fallback source locations
  eslint-plugin-prettier.js
  test/prettier.mjs
Due: eslint --cache --fix

fix: preserve fallback column bases
  eslint-plugin-prettier.js
  test/prettier.mjs
Due: eslint --cache --fix

Test source locations through real APIs
  test/prettier.mjs
Due: eslint --cache --fix

docs: fix Open Collective links for eslint-plugin-prettier
  README.md
Due: eslint --cache --fix

docs: fix Open Collective links for eslint-plugin-prettier (#798)
  README.md
Due: eslint --cache --fix
