Repository prettier/eslint-plugin-prettier: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache -f friendly --fix, prettier --write

.lintstagedrc:

{
  "*.{js,md,ts}": ["eslint --cache -f friendly --fix"],
  "*.{json,yml}": ["prettier --write"]
}

Use flat config for the project's eslint configuration (#615)
  .eslintignore
  .eslintrc
  .github/workflows/ci.yml
  eslint.config.js
  package.json
  pnpm-lock.yaml
Due: eslint --cache -f friendly --fix, prettier --write

feat: add flat recommended config
  .changeset/old-doors-kiss.md
  README.md
  eslint.config.js
  package.json
  recommended.d.ts
  recommended.js
Due: eslint --cache -f friendly --fix, prettier --write

feat: extend eslint-config-prettier
  .changeset/old-doors-kiss.md
  README.md
  eslint.config.js
  recommended.js
Due: eslint --cache -f friendly --fix

Add flat recommended config (#616)
  .changeset/old-doors-kiss.md
  README.md
  eslint.config.js
  package.json
  recommended.d.ts
  recommended.js
Due: eslint --cache -f friendly --fix, prettier --write

chore: skip formatting inline scripts in pug files
  worker.js
Due: eslint --cache -f friendly --fix

Create giant-sheep-doubt.md
  .changeset/giant-sheep-doubt.md
Due: eslint --cache -f friendly --fix

test: add test case for pug files
  .prettierrc
  package.json
  pnpm-lock.yaml
  test/fixtures/pug.pug
  test/prettier.js
Due: eslint --cache -f friendly --fix, prettier --write

chore: skip formatting inline scripts in pug files (#619)
  .changeset/giant-sheep-doubt.md
  .prettierrc
  package.json
  pnpm-lock.yaml
  test/fixtures/pug.pug
  test/prettier.js
  worker.js
Due: eslint --cache -f friendly --fix, prettier --write

fix: add package.json exports field
  .changeset/slimy-boats-fold.md
  package.json
Due: eslint --cache -f friendly --fix, prettier --write

fix: add package.json exports field (#623)
  .changeset/slimy-boats-fold.md
  package.json
Due: eslint --cache -f friendly --fix, prettier --write

feat: support parsing `markdown` via `eslint-mdx` natively
  .changeset/slimy-boats-fold.md
  .changeset/warm-cougars-attack.md
  .prettierrc
  eslint-plugin-prettier.js
  eslint.config.js
  package.json
  patches/@types__eslint@8.44.7.patch
  pnpm-lock.yaml
  test/fixtures/md.md
  test/prettier.js
  worker.js
Due: eslint --cache -f friendly --fix, prettier --write

docs: change open collective funding info
  .github/FUNDING.yml
  README.md
  package.json
Due: eslint --cache -f friendly --fix, prettier --write

docs: change open collective funding info (#626)
  .github/FUNDING.yml
  README.md
  package.json
Due: eslint --cache -f friendly --fix, prettier --write

feat: support parsing `markdown` via `eslint-mdx` natively (#621)
  .changeset/slimy-boats-fold.md
  .changeset/warm-cougars-attack.md
  .prettierrc
  eslint-plugin-prettier.js
  eslint.config.js
  package.json
  patches/@types__eslint@8.44.7.patch
  pnpm-lock.yaml
  test/fixtures/md.md
  test/prettier.js
  worker.js
Due: eslint --cache -f friendly --fix, prettier --write

chore: bump all upgradable (dev)Dependencies
  .github/workflows/release.yml
  .nvmrc
  package.json
  patches/@graphql-eslint__eslint-plugin@3.20.0.patch
  patches/@types__eslint@8.56.0.patch
  pnpm-lock.yaml
Due: prettier --write

chore: bump all upgradable (dev)Dependencies (#625)
  .github/workflows/release.yml
  .nvmrc
  package.json
  patches/@graphql-eslint__eslint-plugin@3.20.0.patch
  patches/@types__eslint@8.56.0.patch
  pnpm-lock.yaml
Due: prettier --write

chore: add more related funding links
  .github/FUNDING.yml
  CHANGELOG.md
Due: eslint --cache -f friendly --fix, prettier --write

chore: add more ignoring file patterns on formatting
  .prettierignore
  package.json
  test/prettier.js
Due: eslint --cache -f friendly --fix, prettier --write

test: enable testing on .svelte files
  .prettierrc
  package.json
  pnpm-lock.yaml
  test/prettier.js
Due: eslint --cache -f friendly --fix, prettier --write

test: skip test .svelte for node <16
  test/prettier.js
Due: eslint --cache -f friendly --fix

test: enable testing on `.svelte` files (#628)
  .prettierrc
  package.json
  pnpm-lock.yaml
  test/prettier.js
Due: eslint --cache -f friendly --fix, prettier --write

test: use `.eslintignore` as `ignorePath` for `test/fixtures` files
  package.json
  pnpm-lock.yaml
  test/prettier.js
Due: eslint --cache -f friendly --fix, prettier --write

chore: run `check` instead of `format` before releasing
  package.json
Due: prettier --write

chore: fix a tiny typo
  test/prettier.js
Due: eslint --cache -f friendly --fix

chore: add more ignoring file patterns on formatting (#627)
  .prettierignore
  package.json
  pnpm-lock.yaml
  test/prettier.js
Due: eslint --cache -f friendly --fix, prettier --write

ci: enable `NPM_TOKEN` for releasing automatically
  .github/workflows/release.yml
Due: prettier --write

ci: enable `NPM_TOKEN` for releasing automatically (#631)
  .github/workflows/release.yml
Due: prettier --write

Create rich-pigs-allow.md
  .changeset/rich-pigs-allow.md
Due: eslint --cache -f friendly --fix

chore: add `package.json` into `exports` map
  package.json
Due: prettier --write

export `package.json`
  package.json
Due: prettier --write

chore: add `package.json` into `exports` map (#629)
  .changeset/rich-pigs-allow.md
  package.json
Due: eslint --cache -f friendly --fix, prettier --write

chore: lock prettier version for changesets
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
Due: eslint --cache -f friendly --fix, prettier --write

Create lemon-cows-sneeze.md
  .changeset/lemon-cows-sneeze.md
Due: eslint --cache -f friendly --fix

feat: support parsing `html` via `@html-eslint/parser` natively
  .changeset/rich-swans-itch.md
  package.json
  pnpm-lock.yaml
  test/fixtures/html.html
  test/prettier.js
  worker.js
Due: eslint --cache -f friendly --fix, prettier --write

fix @html-eslint/parser regex
  worker.js
Due: eslint --cache -f friendly --fix

chore: bump @html-eslint/eslint-plugin to v0.24.1
  package.json
  pnpm-lock.yaml
Due: prettier --write

Update .changeset/rich-swans-itch.md
  .changeset/rich-swans-itch.md
Due: eslint --cache -f friendly --fix

feat: support parsing `html` via `@html-eslint/parser` natively (#652)
  .changeset/rich-swans-itch.md
  package.json
  pnpm-lock.yaml
  test/fixtures/html.html
  test/prettier.js
  worker.js
Due: eslint --cache -f friendly --fix, prettier --write

Master
  .devcontainer/devcontainer.json
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  CONTRIBUTING.md
  README.md
  eslint-plugin-prettier.js
  eslint.config.js
  test_README.md
Due: eslint --cache -f friendly --fix, prettier --write

build(deps): Bump synckit from 0.8.6 to 0.9.1
  package.json
Due: prettier --write
