Repository prettier/eslint-plugin-prettier: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache -f friendly --fix, prettier --write

.lintstagedrc:

{
  "*.{js,md,ts}": ["eslint --cache -f friendly --fix"],
  "*.{json,yml}": ["prettier --write"]
}

ci: downgrade mdx
  .github/workflows/ci.yml
Due: prettier --write

ci: run perf
  .github/workflows/ci.yml
Due: prettier --write

fix: remove eslint.config.mjs
  eslint.config.mjs
Due: none

ci: test eslint@8
  test/prettier.mjs
Due: none

ci: update job name
  .github/workflows/ci.yml
Due: prettier --write

chore: update job title
  .github/workflows/ci.yml
Due: prettier --write

test: add disabled tests back
  test/prettier.mjs
Due: none

style: linting
  test/prettier.mjs
Due: none

chore: add @1stg/remark-preset back
  .github/workflows/ci.yml
  .nvmrc
  .remarkrc
  .remarkrc.mjs
  package.json
  patches/@types__eslint@8.56.0.patch
  patches/unified-engine@11.2.2.patch
  pnpm-lock.yaml
  recommended.js
Due: eslint --cache -f friendly --fix, prettier --write

chore(housekeeping): update ESLint to v9 (#709)
  .github/workflows/ci.yml
  .nvmrc
  .remarkrc
  .remarkrc.mjs
  eslint.config.js
  package.json
  patches/@types__eslint@8.56.0.patch
  patches/unified-engine@11.2.2.patch
  pnpm-lock.yaml
  recommended.js
  test/fixtures/eslint-plugin-svelte3/App.named-blocks.svelte
  test/fixtures/eslint-plugin-svelte3/App.svelte
  test/prettier.mjs
Due: eslint --cache -f friendly --fix, prettier --write

test: improve how to get `FlatESLint`
  test/prettier.mjs
Due: none

test: improve how to get `FlatESLint` (#713)
  test/prettier.mjs
Due: none

chore: update ESLint to remove hack in tests
  package.json
  pnpm-lock.yaml
  test/prettier.mjs
Due: prettier --write

test: add hack back for ESLint 8
  test/prettier.mjs
Due: none

chore: remove debug info
  test/prettier.mjs
Due: none

chore: hourcekeeping, bump all (dev) deps
  .github/workflows/ci.yml
  .lintstagedrc
  .prettierrc
  .remarkrc
  .remarkrc.mjs
  package.json
  pnpm-lock.yaml
Due: prettier --write

Create brave-ants-laugh.md
  .changeset/brave-ants-laugh.md
Due: eslint --cache -f friendly --fix

ci: stick on pnpm@7
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .prettierrc
  .remarkrc
  .remarkrc.mjs
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: hourcekeeping, bump all (dev) deps (#715)
  .changeset/brave-ants-laugh.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .lintstagedrc
  .prettierrc
  package.json
  pnpm-lock.yaml
Due: eslint --cache -f friendly --fix, prettier --write

chore: fix release script
  package.json
Due: prettier --write

chore: add renovate preset
  .renovaterc
Due: none

Discard changes to package.json
  package.json
Due: prettier --write

Discard changes to .nvmrc
  .nvmrc
Due: none

Discard changes to pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

fix: clarify correct `eslint-config-prettier` peer range
  package.json
Due: prettier --write

Create two-carpets-suffer.md
  .changeset/two-carpets-suffer.md
Due: eslint --cache -f friendly --fix

fix: clarify correct `eslint-config-prettier` peer range (#721)
  .changeset/two-carpets-suffer.md
  package.json
Due: eslint --cache -f friendly --fix, prettier --write

chore: ignore `pnpm` for compatibility reason
  .renovaterc
Due: none

Create thick-wombats-protect.md
  .changeset/thick-wombats-protect.md
Due: eslint --cache -f friendly --fix

Apply suggestions from code review
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: prettier --write

chore: migrate `@typedef`jsdoc to `@import`
  .prettierrc
  eslint-plugin-prettier.js
  package.json
  pnpm-lock.yaml
  test/prettier.mjs
  worker.js
Due: eslint --cache -f friendly --fix, prettier --write

chore: migrate `@typedef`jsdoc to `@import` (#729)
  .prettierrc
  eslint-plugin-prettier.js
  package.json
  pnpm-lock.yaml
  test/prettier.mjs
  worker.js
Due: eslint --cache -f friendly --fix, prettier --write

feat: prefer `Config` over `FlatConfig` when they're equal
  .changeset/lucky-badgers-judge.md
  recommended.d.ts
Due: eslint --cache -f friendly --fix

feat: prefer `Config` over `FlatConfig` when they're equal (#674)
  .changeset/lucky-badgers-judge.md
  recommended.d.ts
Due: eslint --cache -f friendly --fix

ci: enable autofix.ci and pkg-pr-new workflows
  .github/workflows/autofix.yml
  .github/workflows/ci.yml
  .github/workflows/pkg-pr-new.yml
  package.json
Due: prettier --write

Create wise-houses-build.md
  .changeset/wise-houses-build.md
Due: eslint --cache -f friendly --fix

ci: enable autofix.ci and pkg-pr-new workflows (#734)
  .changeset/wise-houses-build.md
  .github/workflows/autofix.yml
  .github/workflows/ci.yml
  .github/workflows/pkg-pr-new.yml
  package.json
Due: eslint --cache -f friendly --fix, prettier --write

fix: migrate worker.js to worker.mjs
  eslint-plugin-prettier.js
  package.json
  worker.mjs
Due: eslint --cache -f friendly --fix, prettier --write

fix: apply requested changes
  worker.mjs
Due: none

Create eight-hornets-approve.md
  .changeset/eight-hornets-approve.md
Due: eslint --cache -f friendly --fix
