Repository prettier/eslint-plugin-prettier: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

docs: identify Unicode line terminators
  eslint-plugin-prettier.js
Due: eslint --cache --fix

fix: preserve fallback source locations
  eslint-plugin-prettier.js
  test/prettier.mjs
Due: eslint --cache --fix

Test fallback source locations
  test/prettier.mjs
Due: eslint --cache --fix

test: cover all fallback line terminators
  test/prettier.mjs
Due: eslint --cache --fix

fix: map fallback source locations to actual line starts
  eslint-plugin-prettier.js
Due: eslint --cache --fix

fix: preserve fallback column bases
  eslint-plugin-prettier.js
  test/prettier.mjs
Due: eslint --cache --fix

test: match minimal CRLF replacement
  test/prettier.mjs
Due: eslint --cache --fix

Add fallback location changeset
  .changeset/fix-fallback-source-locations.md
Due: eslint --cache --fix

fix: map fallback source locations to actual line starts (#796)
  .changeset/fix-fallback-source-locations.md
  eslint-plugin-prettier.js
  test/invalid/json.txt
  test/prettier.mjs
Due: eslint --cache --fix

ci: install graphql@16 and mocha@11 for older Node.js versions
  .github/workflows/ci.yml
Due: prettier --write

ci: migrate changesets/action to v2 inputs
  .github/workflows/release.yml
Due: prettier --write

ci: pin webcrypto-core to ~1.8.1 for ESLint 8 only
  .github/workflows/ci.yml
  package.json
  pnpm-lock.yaml
Due: prettier --write

ci: set webcrypto-core override via jq instead of npm pkg
  .github/workflows/ci.yml
Due: prettier --write

chore: migrate from pnpm to Yarn 4
  .github/workflows/autofix.yml
  .github/workflows/ci.yml
  .github/workflows/pkg-pr-new.yml
  .github/workflows/release.yml
  .gitignore
  .nanostagedrc
  .prettierignore
  .renovaterc
  .simple-git-hooks.json
  .yarn/patches/unified-engine-npm-11.2.2-d993bef8c4.patch
  .yarn/plugins/plugin-prepare-lifecycle.cjs
  .yarnrc.yml
  CONTRIBUTING.md
  eslint-plugin-prettier.js
  package.json
  pnpm-lock.yaml
  tsconfig.json
  worker.mjs
  yarn.lock
Due: eslint --cache --fix, prettier --write

ci: enable corepack before setup-node so yarn cache resolves
  .github/workflows/autofix.yml
  .github/workflows/ci.yml
  .github/workflows/pkg-pr-new.yml
  .github/workflows/release.yml
Due: prettier --write

ci: add Node 26 to the matrix and install corepack for it
  .github/workflows/ci.yml
Due: prettier --write

ci: enable corepack after setup-node and add @types/eslint for ESLint 8
  .github/workflows/autofix.yml
  .github/workflows/ci.yml
  .github/workflows/pkg-pr-new.yml
  .github/workflows/release.yml
Due: prettier --write

chore: patch with @unts/patch-package and gate tsc to ESLint 9+
  .github/workflows/ci.yml
  package.json
  patches/unified-engine+11.2.2.patch
  yarn.lock
Due: prettier --write

ci: drop typescript on the Yarn 3 old-Node path
  .github/workflows/ci.yml
Due: prettier --write

ci: cache yarn with actions/cache on the matrix
  .github/workflows/autofix.yml
  .github/workflows/ci.yml
  .github/workflows/pkg-pr-new.yml
  .github/workflows/release.yml
Due: prettier --write

ci: run lint:tsc on ESLint 8 via @types/eslint@9
  .github/workflows/ci.yml
Due: prettier --write

ci: gate lint:tsc to ESLint 9+ (bundled types)
  .github/workflows/ci.yml
Due: prettier --write

ci: use setup-node's yarn cache and pin corepack for Node 14/16
  .github/workflows/ci.yml
  .gitignore
Due: prettier --write

ci: merge ESLint 8/9 dep overrides and drop the npm upgrade
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: prettier --write

Update autofix.yml
  .github/workflows/autofix.yml
Due: prettier --write

Update .renovaterc
  .renovaterc
Due: prettier --write

ci: exercise the getLocFromIndex ponyfill on ESLint 9
  .github/workflows/ci.yml
Due: prettier --write

chore: move the Rule Definition banner next to the rule
  eslint-plugin-prettier.js
Due: eslint --cache --fix

ci: exercise the getLocFromIndex ponyfill on ESLint 9 (#803)
  .github/workflows/ci.yml
  eslint-plugin-prettier.js
Due: eslint --cache --fix, prettier --write

docs: explain line endings and `endOfLine` behavior
  README.md
Due: eslint --cache --fix

docs: explain line endings and `endOfLine` behavior (#804)
  README.md
Due: eslint --cache --fix

Path conditions:
  eslint --cache --fix: any of: *.{js,md,mjs,ts}
  prettier --write: (any of: *.{json,yml}) or (any of: .*rc)
